.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.image {
  height: 20rem;
}

.columns {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
}
