.container {
  display: flex;
  padding: 1.2rem;
  width: 95%;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.logo {
  width: 2.7rem;
  height: auto;
}

.heading {
  color: #005792;
  font-size: 2.6rem;
  font-weight: bolder;
  margin-left: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #005792;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.411);
}
