.container {
  display: flex;
  padding: 1rem 1rem;
  background-color: white;
  align-items: center;
  box-shadow: 0 3px 7px rgb(0 0 0 / 40%);
  justify-content: space-between;
}
.logo {
  width: 2.7rem;
  height: auto;
}

.heading {
  color: #005792;
  font-size: 2.6rem;
  font-weight: bolder;
  margin-left: 1rem;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #005792;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.411);
}
@media screen and (max-width: 400px) {
  .logo {
    width: 2rem;
  }
  .heading {
    font-size: 1.8rem;
  }
}
