.container {
  display: flex;
  padding: 1.2rem;
  width: 100%;
  height: 3rem;
  align-items: center;
}

.logo {
  width: 2.7rem;
  height: auto;
}

.heading {
  color: #005792;
  font-size: 2.6rem;
  font-weight: bolder;
  margin-left: 1rem;
}
