.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 6px solid black;
  border-radius: 10px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 10px;
}

.key {
  font-size: 1.7rem;
  font-weight: 900;
}

.value {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  height: 2.3rem;
}
