.container {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  min-width: 30vw;
  margin-bottom: 10vh;
}

.heading {
  font-size: 2.2rem;
  font-weight: 600;
  color: #00204a;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 0 40px;
}

.label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
.label input {
  position: absolute;
  left: -9999px;
}
.label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}
.label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}
.label input:checked + span {
  background-color: #d6d6e5;
}
.label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
.label span:hover {
  background-color: #d6d6e5;
}

input[type="file"] {
  padding: 0.4rem;
}

@media screen and (max-width: 700px){
  .container{
    margin-top: 3vh;
    width: 80vw;
    align-items: center;
  }
  .form {
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
}
@media screen and (max-width: 340px){
  .container h1{
    font-size: 1.7rem;
  }
}
